header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 50px 80px;
  background-color: rgba(81,81,81);
  /* background-color: gray; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.login__h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.login__form {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.login__input {
  width: 400px;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.login__submit {
  
  font-size: 30px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.4);
  color: white;
  
}

